<!doctype html>
<html lang="en" ng-app="litekmApp">
<head>
    <meta charset="utf-8">
    <title>Lite KM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lightweight Knowledge Management">
    <meta name="author" content="jiangjianbo@gmail.com">
        
    <link rel="stylesheet" href="css/app.css"/>
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">

    .file-grid {
        border: 1px solid rgb(212,212,212);
        width: 100%;
        height: 500px;
        min-height: 100%;
        display: block;
    }
    
    .search-box {
        padding-top: 3px;
    }
    
    .btn-group > .nav{
        font-size: 14px;
        margin-bottom: 0px;
    }

    .btn-group > .nav > li{
        display: block;
    }

    .btn-group > .nav > li > a{
        display: inline;
    }
    </style>    
    <link href="lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="lib/angular-bootstrap-nav-tree/abn_tree.css" rel="stylesheet">
    <link href="lib/ng-grid/ng-grid.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="lib/html5shiv/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons 
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">  
    -->   
</head>
<body>
    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

        <!-- Fixed navbar -->
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">LiteKM</a>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">
                            Logged in as <a href="#" class="navbar-link">Username</a>
                        </p>
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#admin">Administration</a></li>
                            <li><a href="#about">About</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <!-- Begin page content -->
        <div class="container-fluid" ng-controller="DirTreeController">
            <div class="row-fluid">
                <span class="span1 navbar-text">当前目录：</span>
    			<ul class="breadcrumb span7">
    				<li><a href="#">目录1</a> <span class="divider">/</span></li>
    				<li><a href="#">目录2</a> <span class="divider">/</span></li>
    				<li><a href="#">目录3</a> <span class="divider">/</span></li>
    				<li><a href="#">目录4</a> <span class="divider">/</span></li>
    				<li><a href="#">目录5</a> <span class="divider">/</span></li>
    				<li><a href="#">目录6</a> <span class="divider">/</span></li>
    				<li><a href="#">目录7</a> <span class="divider">/</span></li>
    				<li><a href="#">目录8</a> <span class="divider">/</span></li>
    				<li><a href="#">目录9</a> <span class="divider">/</span></li>
    				<li class="active"><a href="#">目录</a> </li>
    			</ul>
    			<div class="span4">
    			    <button class="btn">上传文件</button>
        			<form class="form-search pull-right">
                        <div class="input-append">
                            <input type="text" class="span10 search-query">
                            <button type="submit" class="btn"><i class="icon-search"></i></button>
                        </div>
                    </form>
    			</div>
            </div>        
            <div class="row-fluid">            
                <div class="span3">
                    <div class="well">
                        <abn-tree 
                            tree-data         = "example_treedata"
                            icon-leaf         = "icon-file"
                            icon-expand       = "icon-plus-sign"
                            icon-contract     = "icon-minus-sign"
                            on-select         = "my_tree_handler(branch)"
                            expand-level      = "2"
                            initial-selection = "Vegetable">      
                        ></abn-tree>
                        <button ng-click="try_changing_the_tree_data()" class="btn btn-default muted">Change The Tree Definition</button>
                    </div><!--/.well -->
                </div><!--/span-->
                <div class="span9">   

                    <div ng-controller="FileGridController">
                        <div class="file-grid" ng-grid="gridOptions">
                        </div>
                        <div class="selectedItems">{{mySelections}}</div>
                    </div>                       
                    <div class="alert alert-warning">{{ output }}</div>     
                    <div ng-controller="AlertController">
                        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
                    </div>
                </div><!--/span-->
            </div><!--/row-->
        </div> <!-- /container -->
        <div id="push"></div>
    </div>
  
    <div id="footer">
      <div class="container">
          <p>LiteKM v<span app-version></span> <span class="pull-right">Under GPLv3 License.</span> </p>
      </div>
    </div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/jquery/jquery-1.9.1.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="lib/angular/angular-animate.js"></script>  
  <script src="lib/angular-bootstrap-nav-tree/abn_tree_directive.js"></script>  
  <script src="lib/ng-grid/ng-grid-2.0.7.debug.js"></script>  
  <script src="lib/ui-bootstrap/ui-bootstrap-tpls-0.7.0.js"></script>
  
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>

</body>
</html>
