<!doctype html>
<html lang="en" ng-app="litekmApp">
<head>
    <meta charset="utf-8">
    <title>Lite KM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lightweight Knowledge Management">
    <meta name="author" content="jiangjianbo@gmail.com">
        
    <link rel="stylesheet" href="css/app.css"/>
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">

    .file-grid {
        width: 100%;
        height: 500px;
        min-height: 100%;
    }
    
    .search-box {
        padding-top: 3px;
    }
    
    .uploadBox .form-horizontal .control-label {
        width: 80px !important;
    }

    .uploadBox .form-horizontal .controls {
        margin-left: 100px !important;
    }
    
    .btn-group > .nav{
        font-size: 14px;
        margin-bottom: 0px;
    }

    .btn-group > .nav > li{
        display: block;
    }

    .btn-group > .nav > li > a{
        display: inline;
    }
    
    .rating{
        width: 300px;
        height: 14px;
        display: inline-block;
    }
    </style>    
    <link href="lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="lib/angular-bootstrap-nav-tree/abn_tree.css" rel="stylesheet">
    <link href="lib/ng-grid/ng-grid.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="lib/html5shiv/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons 
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">  
    -->   
</head>
<body>
    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

        <!-- Fixed navbar -->
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">LiteKM</a>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">
                            Logged in as <a href="#" class="navbar-link">Username</a>
                        </p>
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#admin">Administration</a></li>
                            <li><a href="#about">About</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <!-- Begin page content -->
        <div class="container-fluid" ng-controller="KmDirTreeController">
            <div class="row-fluid">
                <span class="span1 navbar-text">当前目录：</span>
    			<ul class="breadcrumb span7">
    				<li><a href="#">目录1</a> <span class="divider">/</span></li>
    				<li><a href="#">目录2</a> <span class="divider">/</span></li>
    				<li><a href="#">目录3</a> <span class="divider">/</span></li>
    				<li><a href="#">目录4</a> <span class="divider">/</span></li>
    				<li><a href="#">目录5</a> <span class="divider">/</span></li>
    				<li><a href="#">目录6</a> <span class="divider">/</span></li>
    				<li><a href="#">目录7</a> <span class="divider">/</span></li>
    				<li><a href="#">目录8</a> <span class="divider">/</span></li>
    				<li><a href="#">目录9</a> <span class="divider">/</span></li>
    				<li class="active"><a href="#">目录</a> </li>
    			</ul>
    			<div class="span4">
    			    <span ng-controller="KmFileUploadController">
    			        <button class="btn {{uploadBtnStyle}}" ng-click="open()">{{uploadBtnText}}</button>
                        <script type="text/ng-template" id="UploadDialog.html">
                            <div class="modal-header">
                                <h3>上传文件</h3>
                            </div>
                            <form class="form-horizontal" action="/upload-full-form" 
                                ng-upload="uploadFile2(content,completed)" ng-upload-loading="startUploading()" >
                                <div class="modal-body uploadBox">
                                    <div class="control-group">
                                        <label class="control-label" for="file">File</label>
                                        <div class="controls">
                                            <input type="file" id="file" ng-model="file" placeholder="Select File">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="summary">Summary</label>
                                        <div class="controls">
                                            <textarea id="Summary" ng-model="summary" placeholder="Summary for file"></textarea>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="tags">Tags</label>
                                        <div class="controls">
                                            <input type="text" id="tags" ng-model="tags" placeholder="tag seperated by comma">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" upload-submit="" >上传</button>
                                    <button class="btn btn-warning" ng-click="cancel()">取消</button>
                                </div>
                            </form>
                        </script>
    			    </span>
        			<form class="form-search pull-right">
                        <div class="input-append">
                            <input type="text" class="span10 search-query" placeholder="搜索" >
                            <button type="submit" class="btn"><i class="icon-search"></i></button>
                        </div>
                    </form>
    			</div>
            </div>        
            <div class="row-fluid">            
                <div class="span3">
                    <div class="well">
                        <abn-tree 
                            tree-data         = "example_treedata"
                            icon-leaf         = "icon-file"
                            icon-expand       = "icon-plus-sign"
                            icon-contract     = "icon-minus-sign"
                            on-select         = "my_tree_handler(branch)"
                            expand-level      = "2"
                            initial-selection = "Vegetable">      
                        ></abn-tree>
                        <button ng-click="try_changing_the_tree_data()" class="btn btn-default muted">Change The Tree Definition</button>
                    </div><!--/.well -->
                </div><!--/span-->
                <div class="span9">   
                    <div ng-controller="KmAlertController">
                        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
                    </div>

                    <div ng-controller="KmFileGridController">
                        <div id="fileGrid" class="file-grid table-bordered" ng-grid="gridOptions">
                        </div>
                        <div class="selectedItems">{{mySelections}}</div>
                    </div>                       
                    <div class="alert alert-warning">{{ output }}</div>     
                </div><!--/span-->
            </div><!--/row-->
            <div ng-controller="KmMessageBoxController">
                <script type="text/ng-template" id="myModalContent.html">
                    <div class="modal-header">
                        <h3>I am a modal!</h3>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li ng-repeat="item in items">
                                <a ng-click="selected.item = item">{{ item }}</a>
                            </li>
                        </ul>
                        Selected: <b>{{ selected.item }}</b>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">OK</button>
                        <button class="btn" ng-click="cancel()">Cancel</button>
                    </div>
                </script>
            
                <button class="btn" ng-click="open()">Open me!</button>
                <div ng-show="selected">Selection from a modal: {{ selected }}</div>
            </div>      
            <div ng-controller="KmRatingController" class="controls">
                <p>rating:
                    <rating value="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                    <span class="badge" ng-class="{'badge-warning': percent<30, 'badge-info': percent>=30 && percent<70, 'badge-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
                </p>
            </div>
            <div ng-controller="KmPopoverController">
                <input type="text" value="Click me!" popover-animation="true" popover-title="The title." popover="focus!!!" popover-trigger="focus" />
            </div>
            <div ng-controller="KmTooltipController">
                <a><span tooltip-popup-delay='1000' tooltip-html-unsafe="{{htmlTooltip}}">Tooltip!!!</span></a>
            </div>
        </div> <!-- /container -->
        <div class="clearfix"></div>
    </div>
  
    <div id="footer">
      <div class="container">
          <p>LiteKM v<span app-version></span> <span class="pull-right">Under GPLv3 License.</span> </p>
      </div>
    </div>
    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    -->
    <script src="lib/jquery/jquery-1.9.1.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="lib/angular/angular-animate.js"></script>  
    <script src="lib/angular-bootstrap-nav-tree/abn_tree_directive.js"></script>  
    <script src="lib/ng-grid/ng-grid-2.0.7.debug.js"></script>  
    <script src="lib/ui-bootstrap/ui-bootstrap-tpls-0.7.0.js"></script>
    <script src="lib/ng-upload/ng-upload.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>

</body>
</html>
